.Cocktails {
  padding-top: 300px;
}
.Cocktails__title {
  max-width: 371px;
  width: 100%;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #d16868;
  padding-bottom: 57px;
  margin-left: 120px;
}
.cocktail-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.cocktail-card__title {
  color: #fff;
  text-align: center;
}
.cocktail-card__img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
}
